<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">FR App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsFrApp"
            aria-controls="navbarsFrApp" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsFrApp">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#addModal" href="#" id="addBtn">Add [Ctrl+Shift+O]</a>
            </li>
        </ul>
    </div>
</nav>
